In [41]:
import pandas as pd
import numpy as np

In [42]:
import patoolib

In [43]:
pip install xlrd>=2.0.1

Note: you may need to restart the kernel to use updated packages.

In [44]:
df=pd.read_excel("default of credit card clients.xls")

In [45]:
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0

In [46]:
values_list = df.iloc[0].tolist()
values_list

['ID',
 'LIMIT_BAL',
 'SEX',
 'EDUCATION',
 'MARRIAGE',
 'AGE',
 'PAY_0',
 'PAY_2',
 'PAY_3',
 'PAY_4',
 'PAY_5',
 'PAY_6',
 'BILL_AMT1',
 'BILL_AMT2',
 'BILL_AMT3',
 'BILL_AMT4',
 'BILL_AMT5',
 'BILL_AMT6',
 'PAY_AMT1',
 'PAY_AMT2',
 'PAY_AMT3',
 'PAY_AMT4',
 'PAY_AMT5',
 'PAY_AMT6',
 'default payment next month']

In [47]:
df.columns=values_list

In [48]:
df = df.drop(0)

In [49]:
df.reset_index(drop=True)

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
0,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
1,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
2,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
3,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
4,5,50000,1,2,1,57,-1,0,-1,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29995,29996,220000,1,3,1,39,0,0,0,0,...,88004,31237,15980,8500,20000,5003,3047,5000,1000,0
29996,29997,150000,1,3,2,43,-1,-1,-1,-1,...,8979,5190,0,1837,3526,8998,129,0,0,0
29997,29998,30000,1,2,2,37,4,3,2,-1,...,20878,20582,19357,0,0,22000,4200,2000,3100,1
29998,29999,80000,1,3,1,41,1,-1,0,0,...,52774,11855,48944,85900,3409,1178,1926,52964,1804,1
29999,30000,50000,1,2,1,46,0,0,0,0,...,36535,32428,15313,2078,1800,1430,1000,1000,1000,1

In [50]:
df.columns = df.columns.str.lower().str.replace(' ', '_')

In [51]:
df.set_index(df.columns[0], inplace=True)

In [52]:
df.head()

,limit_bal,sex,education,marriage,age,pay_0,pay_2,pay_3,pay_4,pay_5,...,bill_amt4,bill_amt5,bill_amt6,pay_amt1,pay_amt2,pay_amt3,pay_amt4,pay_amt5,pay_amt6,default_payment_next_month
id,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [53]:
# Initialize the dictionary
unique_in_col = {}

# Loop through each column and calculate the number of unique values
for col in ['limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2',
            'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
            'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
            'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6',
            'default_payment_next_month']:
    unique_in_col[col] = df[col].nunique()

unique_in_col

{'limit_bal': 81,
 'sex': 2,
 'education': 7,
 'marriage': 4,
 'age': 56,
 'pay_0': 11,
 'pay_2': 11,
 'pay_3': 11,
 'pay_4': 11,
 'pay_5': 10,
 'pay_6': 10,
 'bill_amt1': 22723,
 'bill_amt2': 22346,
 'bill_amt3': 22026,
 'bill_amt4': 21548,
 'bill_amt5': 21010,
 'bill_amt6': 20604,
 'pay_amt1': 7943,
 'pay_amt2': 7899,
 'pay_amt3': 7518,
 'pay_amt4': 6937,
 'pay_amt5': 6897,
 'pay_amt6': 6939,
 'default_payment_next_month': 2}

In [54]:
df.columns

Index(['limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2',
       'pay_3', 'pay_4', 'pay_5', 'pay_6', 'bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6',
       'default_payment_next_month'],
      dtype='object')

In [60]:
categorical=['limit_bal', 'sex', 'education', 'marriage', 'age', 'pay_0', 'pay_2',
       'pay_3', 'pay_4', 'pay_5', 'pay_6']
numerical=['bill_amt1', 'bill_amt2',
       'bill_amt3', 'bill_amt4', 'bill_amt5', 'bill_amt6', 'pay_amt1',
       'pay_amt2', 'pay_amt3', 'pay_amt4', 'pay_amt5', 'pay_amt6']

In [61]:
from sklearn.model_selection import train_test_split

In [62]:
df_full_train,df_test=train_test_split(df,test_size=0.2,random_state=1)

In [63]:
df_train,df_val=train_test_split(df_full_train,test_size=0.25,random_state=1)

In [67]:
from IPython.display import display

In [69]:
churn=df.default_payment_next_month.mean()

In [70]:
for c in categorical:
    print(c)
    df_group=df_full_train.groupby(c).default_payment_next_month.agg(['mean','count'])
    df_group['difference']=df_group['mean']-churn
    df_group['risk_ratio']=df_group['mean']/churn
    display(df_group)
    print()
    print()

limit_bal

               mean  count difference risk_ratio
limit_bal
10000       0.38961    385    0.16841   1.761349
16000           0.0      1    -0.2212        0.0
20000      0.347029   1582   0.125829   1.568848
30000      0.357529   1295   0.136329   1.616315
40000      0.413174    167   0.191974   1.867874
...             ...    ...        ...        ...
750000          0.0      3    -0.2212        0.0
760000          0.0      1    -0.2212        0.0
780000          0.0      2    -0.2212        0.0
800000          0.0      2    -0.2212        0.0
1000000         0.0      1    -0.2212        0.0

[81 rows x 4 columns]

sex

         mean  count difference risk_ratio
sex
1    0.238577   9498   0.017377   1.078556
2    0.209144  14502  -0.012056   0.945495

education

               mean  count difference risk_ratio
education
0               0.0     11    -0.2212        0.0
1          0.193659   8453  -0.027541   0.875493
2          0.234445  11218   0.013245   1.059876
3          0.254357   3959   0.033157   1.149897
4          0.044444     90  -0.176756   0.200924
5          0.068966    232  -0.152234   0.311779
6          0.135135     37  -0.086065   0.610918

marriage

              mean  count difference risk_ratio
marriage
0         0.113636     44  -0.107564   0.513727
1         0.234771  10917   0.013571   1.061354
2         0.208509  12786  -0.012691   0.942628
3         0.256917    253   0.035717   1.161469

age

         mean  count difference risk_ratio
age
21   0.188679     53  -0.032521    0.85298
22   0.294505    455   0.073305   1.331399
23   0.276368    749   0.055168   1.249405
24   0.264967    902   0.043767    1.19786
25   0.247863    936   0.026663   1.120539
26   0.196393    998  -0.024807   0.887852
27   0.203245   1171  -0.017955    0.91883
28   0.208185   1124  -0.013015   0.941162
29   0.193103   1305  -0.028097   0.872981
30   0.197345   1130  -0.023855   0.892157
31   0.186264    961  -0.034936   0.842063
32   0.198683    911  -0.022517   0.898204
33   0.188053    904  -0.033147    0.85015
34   0.190987    932  -0.030213   0.863414
35    0.20598    903   -0.01522   0.931194
36    0.23043    907    0.00923   1.041727
37   0.218673    814  -0.002527   0.988577
38   0.216074    759  -0.005126   0.976825
39   0.200264    759  -0.020936    0.90535
40   0.213139    685  -0.008061   0.963556
41   0.220544    662  -0.000656   0.997033
42   0.225806    620   0.004606   1.020825
43   0.226168    535   0.004968    1.02246
44   0.245283    583   0.024083   1.108874
45   0.195695    511  -0.025505   0.884696
46   0.260128    469   0.038928   1.175985
47   0.233933    389   0.012733   1.057564
48   0.226064    376   0.004864   1.021988
49   0.252778    360   0.031578   1.142757
50   0.252252    333   0.031052   1.140381
51   0.255556    270   0.034356   1.155314
52   0.254098    244   0.032898   1.148727
53   0.232283    254   0.011083   1.050106
54   0.242574    202   0.021374   1.096629
55   0.290909    165   0.069709   1.315141
56   0.284722    144   0.063522   1.287171
57       0.24    100     0.0188   1.084991
58   0.260417     96   0.039217   1.177291
59   0.229508     61   0.008308    1.03756
60       0.36     50     0.1388   1.627486
61      0.375     48     0.1538   1.695298
62      0.175     40    -0.0462   0.791139
63       0.28     25     0.0588   1.265823
64   0.333333     24   0.112133   1.506932
65   0.166667     18  -0.054533   0.753466
66   0.263158     19   0.041958   1.189683
67   0.363636     11   0.142436   1.643926
68        0.2      5    -0.0212   0.904159
69        0.1     10    -0.1212    0.45208
70      0.125      8    -0.0962   0.565099
72   0.333333      3   0.112133   1.506932
73   0.666667      3   0.445467   3.013864
74        0.0      1    -0.2212        0.0
75        0.5      2     0.2788   2.260398
79        0.0      1    -0.2212        0.0

pay_0

           mean  count difference risk_ratio
pay_0
-2     0.128101   2217  -0.093099   0.579119
-1     0.171958   4536  -0.049242   0.777385
 0     0.125915  11754  -0.095285   0.569234
 1      0.33728   2956    0.11608   1.524774
 2      0.68854   2164    0.46734   3.112747
 3     0.768627    255   0.547427   3.474808
 4     0.683333     60   0.462133    3.08921
 5     0.434783     23   0.213583   1.965563
 6          0.5      8     0.2788   2.260398
 7         0.75      8     0.5288   3.390597
 8     0.578947     19   0.357747   2.617303

pay_2

           mean  count difference risk_ratio
pay_2
-2     0.180112   3037  -0.041088   0.814249
-1     0.160677   4842  -0.060523    0.72639
 0     0.156933  12534  -0.064267   0.709463
 1     0.227273     22   0.006073   1.027454
 2     0.557542   3189   0.336342   2.520531
 3     0.634146    246   0.412946   2.866846
 4      0.47561     82    0.25441   2.150135
 5     0.529412     17   0.308212   2.393362
 6     0.727273     11   0.506073   3.287851
 7          0.6     20     0.3788   2.712477

pay_3

           mean  count difference risk_ratio
pay_3
-2     0.184676   3276  -0.036524   0.834884
-1     0.158094   4744  -0.063106   0.714713
 0     0.173782  12602  -0.047418   0.785633
 1          0.5      2     0.2788   2.260398
 2     0.515092   3048   0.293892   2.328625
 3     0.529703    202   0.308503   2.394679
 4     0.548387     62   0.327187   2.479146
 5          0.5     18     0.2788   2.260398
 6     0.608696     23   0.387496   2.751789
 7     0.818182     22   0.596982   3.698833
 8          1.0      1     0.7788   4.520796

pay_4

           mean  count difference risk_ratio
pay_4
-2     0.190914   3478  -0.030286   0.863085
-1     0.160922   4555  -0.060278   0.727496
 0     0.182074  13143  -0.039126    0.82312
 1          1.0      1     0.7788   4.520796
 2     0.525384   2541   0.304184   2.375152
 3     0.557143    140   0.335943   2.518729
 4     0.672414     58   0.451214   3.039845
 5     0.515152     33   0.293952   2.328895
 6          0.5      4     0.2788   2.260398
 7          0.8     45     0.5788   3.616637
 8          0.5      2     0.2788   2.260398

pay_5

           mean  count difference risk_ratio
pay_5
-2     0.196208   3639  -0.024992   0.887015
-1     0.162144   4422  -0.059056   0.733019
 0     0.188017  13552  -0.033183   0.849984
 2     0.540028   2111   0.318828   2.441358
 3     0.628571    140   0.407371   2.841643
 4     0.605634     71   0.384434   2.737947
 5          0.6     15     0.3788   2.712477
 6     0.666667      3   0.445467   3.013864
 7     0.804348     46   0.583148   3.636292
 8          1.0      1     0.7788   4.520796

pay_6

           mean  count difference risk_ratio
pay_6
-2     0.198774   3914  -0.022426   0.898615
-1     0.171851   4597  -0.049349   0.776904
 0     0.188081  13021  -0.033119   0.850275
 2     0.503383   2217   0.282183   2.275691
 3     0.638158    152   0.416958   2.884981
 4     0.621622     37   0.400422   2.810224
 5          0.5      8     0.2788   2.260398
 6     0.764706     17   0.543506   3.457079
 7     0.771429     35   0.550229   3.487471
 8          1.0      2     0.7788   4.520796

In [82]:
# Filter the DataFrame for each group
risk_25_or_less = df_full_train[df_full_train['age'] <= 25]
risk_26_to_50 = df_full_train[(df_full_train['age'] > 25) & (df_full_train['age'] <= 50)]
risk_51_or_more = df_full_train[df_full_train['age'] > 50]

# Calculate the churn rate risk (mean) and count for each group
churn_risk_25_or_less = risk_25_or_less['default_payment_next_month'].agg(['mean', 'count'])
churn_risk_26_to_50 = risk_26_to_50['default_payment_next_month'].agg(['mean', 'count'])
churn_risk_51_or_more = risk_51_or_more['default_payment_next_month'].agg(['mean', 'count'])

# Combine results into a DataFrame for easy viewing
import pandas as pd

churn_risk_summary = pd.DataFrame({
    'Group': ['25 or less', '26 to 50', '51 or more'],
    'Churn Risk (Mean)': [churn_risk_25_or_less['mean'], churn_risk_26_to_50['mean'], churn_risk_51_or_more['mean']],
    'Count': [churn_risk_25_or_less['count'], churn_risk_26_to_50['count'], churn_risk_51_or_more['count']]
})

print(churn_risk_summary)

        Group  Churn Risk (Mean)    Count
0  25 or less           0.265590   3095.0
1    26 to 50           0.209884  19101.0
2  51 or more           0.259424   1804.0

In [83]:
from sklearn.metrics import mutual_info_score

In [84]:
def mutual_info_churn_score(series):
    return mutual_info_score(series,df_full_train.default_payment_next_month)

In [86]:
mi=df_full_train[categorical].apply(mutual_info_churn_score)

In [88]:
mi.sort_values(ascending=False)

pay_0        0.076832
pay_2        0.050237
pay_3        0.036600
pay_4        0.032810
pay_5        0.030289
pay_6        0.025822
limit_bal    0.016655
education    0.002990
age          0.002657
marriage     0.000601
sex          0.000598
dtype: float64