In [1]:
import pandas as pd
import numpy as np

In [2]:
!wget https://archive.ics.uci.edu/static/public/350/default+of+credit+card+clients.zip

--2025-01-03 02:19:17--  https://archive.ics.uci.edu/static/public/350/default+of+credit+card+clients.zip
128.195.10.252ive.ics.uci.edu (archive.ics.uci.edu)...
connected. to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443...
HTTP request sent, awaiting response... 200 OK
Length: unspecified
Saving to: ‘default+of+credit+card+clients.zip’

default+of+credit+c     [         <=>        ]   5.28M  2.83MB/s    in 1.9s

2025-01-03 02:19:21 (2.83 MB/s) - ‘default+of+credit+card+clients.zip’ saved [5539494]

In [3]:
pip install patool

Collecting patool
  Downloading patool-3.1.0-py2.py3-none-any.whl.metadata (4.3 kB)
Downloading patool-3.1.0-py2.py3-none-any.whl (98 kB)
Installing collected packages: patool
Successfully installed patool-3.1.0
Note: you may need to restart the kernel to use updated packages.

In [5]:
import patoolib

In [6]:
patoolib.extract_archive("default+of+credit+card+clients.zip")

INFO patool: Extracting default+of+credit+card+clients.zip ...
INFO patool: ... default+of+credit+card+clients.zip extracted to `default of credit card clients.xls'.

'default of credit card clients.xls'

In [9]:
pip install xlrd>=2.0.1

Note: you may need to restart the kernel to use updated packages.

In [10]:
df=pd.read_excel("default of credit card clients.xls")

In [11]:
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0