In [2]:
import pandas as pd
import numpy as np

!patool extract bank+marketing/bank.zip

In [3]:
data = pd.read_csv('bank-full.csv', sep=';')

In [4]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [20]:
data.dtypes

age           int64
job          object
marital      object
education    object
default      object
balance       int64
housing      object
loan         object
contact      object
day           int64
month        object
duration      int64
campaign      int64
pdays         int64
previous      int64
poutcome     object
y            object
dtype: object

In [17]:
numerical=['age','balance','day','duration','campaign','pdays','previous']

In [18]:
data[numerical].isnull().sum()

age         0
balance     0
day         0
duration    0
campaign    0
pdays       0
previous    0
dtype: int64

In [27]:
data['education'].value_counts()

education
secondary    23202
tertiary     13301
primary       6851
unknown       1857
Name: count, dtype: int64

In [31]:
correlation_matrix = data[numerical].corr()

# Print the result
print(correlation_matrix)
## 0.454820

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [34]:
for x in numerical:
    for y in numerical:
        if x != y:  # To avoid computing the correlation of a column with itself
            corr_value = data[x].corr(data[y])
            print(f"Correlation between {x} and {y}: {corr_value}")

Correlation between age and balance: 0.09778273937134754
Correlation between age and day: -0.009120045633549522
Correlation between age and duration: -0.004648428470616257
Correlation between age and campaign: 0.004760311762456939
Correlation between age and pdays: -0.023758014111736316
Correlation between age and previous: 0.0012883192026639204
Correlation between balance and age: 0.09778273937134753
Correlation between balance and day: 0.00450258512971854
Correlation between balance and duration: 0.021560380494669025
Correlation between balance and campaign: -0.014578278850766227
Correlation between balance and pdays: 0.003435321868107075
Correlation between balance and previous: 0.016673636728358223
Correlation between day and age: -0.009120045633549522
Correlation between day and balance: 0.00450258512971854
Correlation between day and duration: -0.030206341138651692
Correlation between day and campaign: 0.16249021632619293
Correlation between day and pdays: -0.09304407377294052
Correlation between day and previous: -0.05171049673580389
Correlation between duration and age: -0.004648428470616257
Correlation between duration and balance: 0.021560380494669025
Correlation between duration and day: -0.030206341138651695
Correlation between duration and campaign: -0.08456950273006175
Correlation between duration and pdays: -0.0015647704813434307
Correlation between duration and previous: 0.0012030569167003323
Correlation between campaign and age: 0.004760311762456939
Correlation between campaign and balance: -0.014578278850766225
Correlation between campaign and day: 0.16249021632619293
Correlation between campaign and duration: -0.08456950273006175
Correlation between campaign and pdays: -0.08862766791568391
Correlation between campaign and previous: -0.032855289678278984
Correlation between pdays and age: -0.023758014111736316
Correlation between pdays and balance: 0.003435321868107075
Correlation between pdays and day: -0.09304407377294051
Correlation between pdays and duration: -0.0015647704813434307
Correlation between pdays and campaign: -0.08862766791568391
Correlation between pdays and previous: 0.45481963548050075
Correlation between previous and age: 0.0012883192026639204
Correlation between previous and balance: 0.016673636728358227
Correlation between previous and day: -0.051710496735803885
Correlation between previous and duration: 0.0012030569167003323
Correlation between previous and campaign: -0.032855289678278984
Correlation between previous and pdays: 0.4548196354805008

In [43]:
data['y'] = data['y'].map({'yes': 1, 'no': 0})

In [44]:
data.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,0

In [45]:
from sklearn.model_selection import train_test_split
data_full_train,data_test=train_test_split(data,test_size=0.2,random_state=42)
data_train,data_val=train_test_split(data,test_size=0.25,random_state=42)

In [46]:
y_train=data_train['y'].values
del data_train['y']
y_val=data_val['y'].values
del data_val['y']
y_test=data_test['y'].values
del data_test['y']
y_full_train=data_full_train['y'].values
del data_full_train['y']

In [49]:
categorical=list(set(data.columns)-set(numerical))

In [51]:
from sklearn.metrics import mutual_info_score
def mutual_info_y_score(series):
    return mutual_info_score(series,y_train)
mi=data_full_train[categorical].apply(mutual_info_y_score)
mi

KeyError: "['y'] not in index"